{$HOMEPAGE_DOMAIN} {
	encode zstd gzip

	header {
		Referrer-Policy no-referrer
		X-Content-Type-Options nosniff
	}

	reverse_proxy homepage:3102
}

{$DOMAIN} {
	encode zstd gzip

	header {
		Referrer-Policy no-referrer
		X-Content-Type-Options nosniff
	}

	redir /brawlstars /brawlstars/ 308
	redir /morning /brawlstars/ 308
	redir /recipe /recipe/ 308
	redir /videos /videos/ 308

	handle_path /videos/* {
		root * /srv/videos
		file_server
	}

	handle_path /recipe/* {
		reverse_proxy recipe-site:3101
	}

	handle /morning/* {
		redir /brawlstars/ 308
	}

	handle /brawlstars/* {
		reverse_proxy brawl-stars-claimer:3100
	}

	handle_path /wm31/* {
		reverse_proxy minisago:3000
	}

	handle {
		reverse_proxy minisago:3000
	}
}
