{
	servers {
		trusted_proxies static private_ranges
		client_ip_headers CF-Connecting-IP X-Forwarded-For
		trusted_proxies_strict
	}
}

{$HOMEPAGE_DOMAIN} {
	encode zstd gzip
	log

	header {
		Referrer-Policy no-referrer
		X-Content-Type-Options nosniff
	}

	reverse_proxy homepage:3102
}

{$OBI_DOMAIN} {
	encode zstd gzip
	log

	header {
		Referrer-Policy no-referrer
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		-Server
	}

	reverse_proxy obi:5984 {
		flush_interval -1
	}
}

{$DOMAIN} {
	encode zstd gzip
	log

	header {
		Referrer-Policy no-referrer
		X-Content-Type-Options nosniff
	}

	redir /bot /bot/ 308

	handle_path /bot/* {
		reverse_proxy bot-core:3000
	}

	handle {
		reverse_proxy bot-core:3000
	}
}

http://{$MEDIA_DOMAIN} {
	log

	header {
		Access-Control-Allow-Origin *
		Cache-Control "public, max-age=31536000, s-maxage=31536000, immutable"
		Content-Security-Policy "default-src 'none'; sandbox"
		Cross-Origin-Resource-Policy cross-origin
		Referrer-Policy no-referrer
		X-Content-Type-Options nosniff
		-Server
	}

	@supported_media path_regexp supported_media ^/[0-9a-f]{2}/[0-9a-f]{64}\.(?:gif|jpg|mp4|png|webp)$

	handle @supported_media {
		root * /srv/pr-media
		file_server
	}

	respond 404
}
