DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
MINISAGO_WORKER_READ_BRIDGE_SECRET=
MINISAGO_WORKER_WRITE_BRIDGE_SECRET=
SELF_ASSIGNABLE_ROLES=
TOEFL_VOCAB_STATE_FILE=/app/state/toefl-vocab-state.json
