HOSTNAME=0.0.0.0
PORT=3100
BRAWL_STARS_CLAIMER_PUBLIC_BASE_PATH=/brawlstars
BRAWL_STARS_CLAIMER_DATA_DIR=/app/state
BRAWL_STARS_CLAIMER_AUTH_STATE_FILE=/app/state/auth.json
BRAWL_STARS_CLAIMER_ACCESS_USERNAME=
BRAWL_STARS_CLAIMER_ACCESS_PASSWORD=
BRAWL_STARS_CLAIMER_REFRESH_TOKEN=
