HOSTNAME=0.0.0.0
PORT=3102
OPENWEATHERMAP_API_KEY=
MOENV_API_KEY=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
BLOB_READ_WRITE_TOKEN=
WALLPAPER_READ_WRITE_TOKEN=
WALLPAPER_STORAGE_PROVIDER=r2
R2_ENDPOINT=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
DATABASE_URL=
POSTGRES_URL=
DATABASE_URL_UNPOOLED=
POSTGRES_URL_NON_POOLING=
